<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/RutinasDeportivas</property>
    <property name="hibernate.connection.username">carlos</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping class="com.uptc.figueredo.rutinasdeportivas.model.TipoEjercicio"</mapping>
    <mapping class="com.uptc.figueredo.rutinasdeportivas.model.GrupoDeportivo"></mapping>
    <mapping class="com.uptc.figueredo.rutinasdeportivas.model.Especialista"></mapping>
    <mapping class="com.uptc.figueredo.rutinasdeportivas.model.Registro"></mapping>
    <mapping class="com.uptc.figueredo.rutinasdeportivas.model.ParteCuerpo"></mapping>
    <mapping class="com.uptc.figueredo.rutinasdeportivas.model.Rutina"></mapping>
    <mapping class="com.uptc.figueredo.rutinasdeportivas.model.Ejercicio"></mapping>
  </session-factory>
</hibernate-configuration>
